@charset "UTF-8";

h1 ,ul{
	color: olive;
	/* 선택자 a,b 형식은 그룹선택자. 동시에 여러 선택자에게 동일한 스타일 적용  
		종류 달라도됨 
	*/
}
section{
	border: 3px solid #ccc; /* 밝은 회색  */
	padding: 1em; /* 여백 */
}
#fs{
	border: 1px solid blue;
	 font-size:  20px;
}

h2{
	color: #ccc;
}
.fs01{
	font-size:  12px;
}
.fs02{
	font-size: 16px;
}
.fs03{
	font-size: 20px;
}
.fs04{
	font-size: 1em;
}
.fs05{
	font-size: 1.2em;
}
.fs06{
	font-size: 0.8em;
}
.fs07{
	font-size: 0.8rem;
}
.fs08{
	font-size: 1rem;
}
.fs09{
	font-size: 1.2rem;
}
.fw01{
	font-weight:100;
}
.fw02{
	font-weight:200;
}
.fw03{
	font-weight:300;
}
.fw04{
	font-weight:400;
}
.fw05{
	font-weight:500;
}
.fw06{
	font-weight:600;
}
.fw07{
	font-weight:700;
}
.fw08{
	font-weight:800;
}
.fw09{
	font-weight:900;
}
.fw10{
	font-weight: bold;
}
.fw11{
	font-weight: bold;
}
.norm{
	font-weight: normal;
}
.norm1{
	font-weight: normal;
}
.fst01{
	font-style: italic;
}
.fst02{
	font-style: oblique;
}
.fst03{
	font-style: normal;
}
.hov:hover{
	font-style: italic;
	font-size: 50px;
	/* 선택자:hover는 
	마우스 오버시의 상태선택자 */
}
.ffm01{
	font-family: 
				"Arial",
				"Verdana",
				sans-serif;
}
.ffm02{
	font-family: 
				"Georgia",
				"Times New Roman",
				"Times",
				serif;
}
.ffm03{
	font-family: 
				"Console",
				"Lucida",
				monospace;
}
.ffm04{
	font-family: 'ultra',sans-serif;
	color: aqua;
	
	/*font-family: 'Bellefair',sans-serif;
	font-family: 'Spectral SC', serif;
	font-family: 'Ultra', serif;*/
}
.ffm05{
	font-family: 'Spectral SC',sans-serif;
}
.ffm06{
	font-family: 'Bellefair',sans-serif;
	
}
