@charset "UTF-8"; 
/* style.css수업시간 공용스타일 
border-left: 왼쪽 테두리
padding :0.3em 0.8em; 내부 여백 
font-family: "나눔 명조","맑은 명조"; 폰트 
section 컨텐츠를 주제별로 구분할수있는 태그들이다.
white-space: pre; 공백을 나타냄



*/

h1{
	font-family: "나눔 명조","맑은 명조",serif;
	color: #355;
	background-color: #add;
	border-left: 12px solid;
	padding :0.3em 0.8em;
	text-transform: capitalize;
	margin-bottom: 2em;
}
section{
	border: 3px solid #add;
	margin: 3em 0;
	pedding: 1em;
}

section>h2{
	/* A>B는 부모자식관계를 나타내는 관계선택자
		한단계 바로 아래의 요소를 뜻한다.
  		A B는 하위 선택자를 나타내는 관계선택자 
  		A의 아래에 있는 모든요소를 뜻함.
	 */
	color: #355;
	border-bottom: 3px solid;
}

.text{
	line-height: 1.8;
	white-space: pre;
}