@charset "UTF-8";
/* 글꼴 없으면 기본타입으로 이거아무거나 하라는뜻sans-serif  */
h1{
	font-size:36px;
	font-weight: 500;
}
/*  text-align */
.t-al01{
	text-align: left;
}
.t-al02{
	text-align: center;
}
.t-al03{
	text-align: right;
}
.t-al04{
	text-align: justify;
}
.t-alo2>img{
	width: 100px;
}
table,th,td{
		/* A,B,C,...는 그룹선택자  */
	border: 1px solid;
}
#sec01>table{
	margin-top: 50px;
	width: 500px;
	height: 100px;
}
.td02:hover {
	text-align: center;
	color: red;
}
#sec01>p {
	border: 1px solid;
	width: 30%;
}
.t-de01{
	text-decoration: overline;
	color: red;
}
.t-de02{
	text-decoration: line-through;
	color :blue;
}
.t-de03{
	text-decoration: underline;

}
.t-de04{
	background-color: #d30;
	padding: 0.5em;
	text-align: center;
}
.t-de04>a{
	text-decoration: none;
	color: olive;
}
.t-de04>a:hover{
	text-decoration: underline;
	background: orange;
}
/*text-indent*/

.t-in01{
	text-indent: 16px;
}
.t-in02{
	text-indent: 1.5em;
}
.t-in03{
	text-indent: 10%;
}
.t-in04{
	text-indent: -50px;
}
.t-in05{
	text-indent: 20%;
	border: 1px solid olive;
}
.t-in06:hover{
	text-indent: 1.5em;
	transition:2s;
	border: 1px solid blue;
}
.t-tr01{
	text-transform: none;
}
.t-tr02{
	text-transform: lowercase;
}
.t-tr03{
	text-transform: uppercase;
}
.t-tr04{
	text-transform: capitalize;
}
/* text-shadow */
#sec06>p {
	font-size: 40px;
	font-weight: bold;
	text-transform: capitalize;
	border: 1px solid green ;
	text-align: center;
	padding: 0.5em;
}
.t-sh01{
	text-shadow: 5px 5px 7px #333;
}
.t-sh02{
	text-shadow: 5px 0 0 #333;
}
.t-sh03{
	text-shadow: 0 5px 0 #333;
}
.t-sh04{
	text-shadow: 0 0 7px #333;
}
.t-sh05{
	text-shadow: 0 0 0 #333;
}
.t-sh06{
	text-shadow: -5px 0 0 #373;
}
.t-sh07{
	text-shadow: 0 -5px 0 #373;
}
.t-sh08:hover{
	text-shadow:-6px 10px 1px #373; 
	transition: 2s;
	background: red;
}
.lig:hover{
	text-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	color: white;
	background-color: black;
}
.t-sh10:hover{
	text-shadow: 0 0 7px #cef;
	transition:2s;
	background-color: blue;
}

